
                                       # DATA TYPES #

In [ ]:
                                        # type() function #

In [1]:

                               #  INTEGER  #
    
a=10               # a IS A INT OBJECT
print(type(a))     # < CLASS 'INT'
print(a)           # 10

<class 'int'>
10

In [2]:

                                # FLOAT #
    
a=10.11
print(type(a))
print(a)

<class 'float'>
10.11

In [3]:

                                # STRING #
    
a="PYTHON"
print(type(a))
print(a)

<class 'str'>
PYTHON

In [4]:

                                # LIST #
    
a=[1,2,3,4]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4]

In [5]:

                                # TUPLE #
    
a=(1,2,3,4)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4)

In [6]:

                                # SET #
    
a={1,2,3,4}
print(type(a))
print(a)

<class 'set'>
{1, 2, 3, 4}

In [7]:


                                # DICTONARY #
    
a={1:"PY",2:"TH",3:"ON"}
print(type(a))
print(a)

<class 'dict'>
{1: 'PY', 2: 'TH', 3: 'ON'}

In [9]:
                                    # format() function #

In [1]:

print(format(24))
print(format(24,"d"))              # d    - digit, interger
print(format(24,'>10'))            # >10  - right alignment display from 9th (9 to 10)
print(format(24,'^10'))            # ^10  - center alignment middle of 10 spaces (5 to 6)
print(format(24,'<10'))            # <10  - left alignment start from 1 (1 to 2)

print(format(24,"f"))              # f    - float
print(format(24,".4f"))            # .4f  - 4 float values
print(format(24,".1f"))
print(format(24.123344566))        # taking total decimals 
print(format(24.123344566,"f"))    # f    - float by dyfault taking 6 decimals
print(format(24.123344566,".3f"))  # .3f  - 3 float values 
print(format(24.123344566,".1f"))  # .1f  - 1 float values
print(format(24.123344566,'^20'))  # center alignment middle of 20 spaces (5 to 16)


print(format("PYTHON"))            # string
print(format("PYTHON",'s'))        # s    - string
print(format("PYTHON",'.2s'))      # .2s  - 2 string characters
print(format("PYTHON",'.4s'))      # .4s  - 4 string characters
print(format("PYTHON",'>20'))      # >    - right alignment
print(format("PYTHON",'^20'))      # ^    - center alignment
print(format("PYTHON",'<20'))      # <    - left alignment

24
24
        24
    24
24
24.000000
24.0000
24.0
24.123344566
24.123345
24.123
24.1
    24.123344566
PYTHON
PYTHON
PY
PYTH
              PYTHON
       PYTHON
PYTHON

In [1]:

                                    # SWAP VARIBLES #

In [5]:
a=10;b=20
print(a,b)
a,b=b,a
print(a,b)


a="ðŸ˜‚"
b="ðŸ˜Š"
print(a,b)
a,b=b,a
print(a,b)


x,y,z=40,50,60
print(x,y,z)
x,y,z=z,x,y
print(x,y,z)
x,y,z=z,x,y
print(x,y,z)
 
    
a=10;b=20;c=30
print(a,b,c)
a,b,c=b,c,a
a,b,c=b,c,a
a,b,c=b,c,a
print(a,b,c)

x=y=z=100
print(x,y,z)
x,y,z=z,x,y
print(x,y,z)

10 20
20 10
ðŸ˜‚ ðŸ˜Š
ðŸ˜Š ðŸ˜‚
40 50 60
60 40 50
50 60 40
10 20 30
10 20 30
100 100 100
100 100 100

In [6]:

                                    # del keyword #

In [7]:
a=20
print(a)
del a

a=b=c=100
print(a)
del a
print(b)
del b
print(c)
del c

a=b=c=200
print(a)
print(b)
print(c)
del a,b,c
#print(a)

x=[1,2,3,4,5]
print(x)
del x

y=(1,2,3,4,5)
print(y)
del y

z={6,7,8,9}
print(z)
del z

d={1:"py",2:"th"}
print(d)
del d

a="kiranmai"
print(a)
del a

20
100
100
100
200
200
200
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{8, 9, 6, 7}
{1: 'py', 2: 'th'}
kiranmai

In [8]:

                                # Mnemonical variable names #

In [1]:
abcd1232zzz=100
abcd1234xxx=200
abcd1111yyy=abcd1232zzz+abcd1234xxx
print(abcd1111yyy)

300

In [2]:

                 # Writting numbers in binary, octal and hexadecimal #

In [3]:
a=10
print(bin(a))

b=323
print(bin(b))

c=1
print(bin(c))

d=10
print(oct(d))

e=333
print(oct(e))

f=3
print(oct(f))

g=20
print(hex(g))

h=453
print(hex(h))

j=11
print(hex(j))


a=0b1010
b=0b101000011
c=0b1
d=0o12
e=0o515
f=0o3
g=0x14
h=0x1c5
j=0xb

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(j)

p=0xab
print(p)

# a=10,b=11
# a for 16**1=16,b for 16**0=1
# 16*10+1*11=171

b=0xabcde
print(b)

# a=10, b=11, c=12, d=13, e=14
# a degree 16**4 , b degree 16**3 , c degree 16**2 , d degeree 16**1, e degree 16**0
# 65536*10+4096*11+256*12+16*13+1*14=703710

0b1010
0b101000011
0b1
0o12
0o515
0o3
0x14
0x1c5
0xb
10
323
1
10
333
3
20
453
11
171
703710

In [4]:

                                    # None Data Type #

In [5]:
a=None
print(a)
print(type(a))

None
<class 'NoneType'>